\documentclass[letterpaper,11pt]{article}

%-----------------------------------------------
% import resume.sty with necessary packages,
% document definition and custom commands
\usepackage{resume}

%-----------------------------------------------
% CV starts here
\begin{document}

%----------HEADING----------
<% set info_items = [] %>
<% set _ = info_items.append("\\emailInfo{" ~ cv.basics.email ~ "}") %>
<% set _ = info_items.append("\\locationInfo{" ~ cv.basics.location ~ "}") %>
<% set social_links = [] %>
<% for profile in cv.basics.profiles | resume_filter %>
<% if profile.network == "LinkedIn" %>
<% set _ = social_links.append("\\linkedinLink{" ~ profile.url ~ "}") %>
<% elif profile.network == "GitHub" %>
<% set _ = social_links.append("\\githubLink{" ~ profile.url ~ "}") %>
<% elif profile.network == "Website" %>
<% set _ = social_links.append("\\webpageLink{" ~ profile.url ~ "}") %>
<% endif %>
<% endfor %>
\resumeHeader
  {<< cv.basics.name >>}
  {<< info_items | join(" | ") >>}
  {<< social_links | join(" ") >>\\}

%-----------EXPERIENCE-----------
\section{Experience}
\begin{sectionElementsList}
<% for exp in cv.work | resume_filter %>
  \experienceElement
  {<< exp.position >>}{<< exp | date_range >>}
  {<< exp.name >>}{<< exp.location | latex >>}
  {<< exp.summary >>}
  {<% set highlights = exp | get_highlights %><% if highlights %><% for h in highlights %>{<< h >>}<% if not loop.last %>,<% endif %><% endfor %><% endif %>}
<% endfor %>
\end{sectionElementsList}

%-----------EDUCATION-----------
\section{Education}
\begin{sectionElementsList}
<% for edu in cv.education | resume_filter %>
<% set details = edu['x-details'] %>
<% if details and (details.msc or details.bsc) %>
  \educationElementWithDetails
    {<< edu.area | latex >>}{<< edu.location >>}
    {<< edu.institution >>}{<< edu.startDate | month_year >> -- << edu.endDate | month_year >>}
    {<% if details.msc %>\degreeDetail{MSc}{<< details.msc.courses | latex >>}{<< details.msc.thesis >>}<% endif %>}
    {<% if details.bsc %>\degreeDetail{BSc}{<< details.bsc.courses | latex >>}{<< details.bsc.thesis >>}<% endif %>}
<% else %>
  \experienceElement
    {<< edu.institution >>}{<< edu.location >>}
    {<< edu.area >>}{<< edu.startDate | month_year >> -- << edu.endDate | month_year >>}
    {}{}
<% endif %>
<% endfor %>
\end{sectionElementsList}

%-----------LICENSES-----------
\section{Licenses}
\begin{sectionElementsList}
  \skillsElement{1}{
<% for cert in cv.certificates | resume_filter %>
    \skillsItem{<< cert.name >>}{<< cert.date | month_year >>}
<% endfor %>
  }
\end{sectionElementsList}

%-----------TECH SKILLS-----------
\section{Technical Skills}
\begin{sectionElementsList}
  \skillsElement{2}{
<% for skill_name, skill in cv.technicalSkills.items() if skill['x-inResume'] %>
    \skillsItem{<< skill_name >>}{<< skill.value | latex >>}
<% endfor %>
  }
\end{sectionElementsList}

%-----------PROJECTS-----------
\section{Projects}
\begin{sectionElementsList}
<% for project in cv.projects | resume_filter %>
  \projectElement{
    \href{<< project.url >>}{<< project.name >>}
    }{
    << project.description >>
  }{<< project['x-technologies'] | latex >>}
<% endfor %>
\end{sectionElementsList}

%-----------PERSONAL SKILLS-----------
\section{Personal skills}
\begin{sectionElementsList}
  \skillsElement{1}{
<% for skill_name, skill in cv.personalSkills.items() if skill['x-inResume'] %>
    \skillsItem{<< skill_name >>}{<< skill.value >>}
<% endfor %>
  }
\end{sectionElementsList}

%-----------FOOTER TEXT-----------
<% if cv.meta and cv.meta.footer and cv.meta.footer['x-inResume'] %>
\resumeFooter{<< cv.meta.footer.value >>}
<% endif %>

%-------------------------------------------
\end{document}
